<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>

<h1>
    <p th:text="БИБЛИОТЕКА"></p>
</h1>

<h2>
    <p th:text="${'Приветствуем, ' + person.getName()}" >Text</p>
</h2>

<form th:method="GET" th:action="@{readers}">
    <input type="submit" value="Читатели">
</form>

<form th:method="GET" th:action="@{books}">
    <input type="submit" value="Книги">
</form>


</body>
</html>