<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org
https://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Обновление книги</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id = ${book.getId()})}" th:object="${book}">
    <label for="bookName">Название книги: </label>
    <input type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name Error</div>
    <br/>
    <label for="author">Автор: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>
    <label for="yearOfWriting">Год написания: </label>
    <input type="text" th:field="*{yearOfWriting}" id="yearOfWriting"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfWriting')}" th:errors="*{yearOfWriting}">Age Error</div>
    <br/>
    <input type="submit" value="Редактировать книгу"/>
</form>

</body>
</html>